<!-- Footer -->
{#<footer class="bg-white fixed-bottom">#}
{#    <div class="container my-auto">#}
{#        <div class="copyright text-center my-auto">#}
{#            <span>Mentions Légales &copy; Point de vente 2023</span>#}
{#        </div>#}
{#    </div>#}
{#</footer>#}
<!-- End of Footer -->